extends template.pug

block title
	title= campsite["name"]
	
block body
	include includes/navbar.pug
	.container
		h1= campsite.name
		img.thumbnail(src=campsite.image)
		p= campsite.description
		each comment in campsite.comments
			.container
				h6= comment.author
				p= comment.text
